body {
  text-align: center;
  background-color: rgb(168, 164, 164)
}


#title {
  color: rgb(255, 208, 147);
  text-shadow: whitesmoke 2px;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 rgb(234, 255, 184);
}

footer {
  color: rgb(251, 255, 0);
  font-size: 17px;
  font-family: fantasy;
  font-style: italic;
}

.w {
  background-image: url("./images/crash.png");
}

.a {
  background-image: url("./images/kick.png");
}

.s {
  background-image: url("./images/snare.png");
}

.d {
  background-image: url("./images/tom1.png");
}

.j {
  background-image: url("./images/tom2.png");
}

.k {
  background-image: url("./images/tom3.png");
}

.l {
  background-image: url("./images/tom4.png");
}

.set {
  margin: 10% auto;
  background-color: rgb(245, 202, 202);
  width: 86%;
  border-radius: 15px;
  border-style: ridge;
  border-color: rgb(188, 188, 240);
}

.game-over {
  background-color: rgb(238, 88, 88);
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 4px 5px 0 rgb(243, 248, 250);
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: rgb(62, 243, 243);
  text-shadow: 4px 0 #dbedf3;
  border-radius: 10px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}
